<!DOCTYPE html>
<html>
  <head>
    
    <title>Compound Interest Calculator</title>
  </head>
  <body style="background-color: black;">
    <center><h3 style="font-style: bold; font-size: 36px; color:orangered;" >Compound Interest Calculator</h3></center>
    <hr>
    <form method="post">
      {% csrf_token %}
      <center><table style="font-size: 25px;">
        <tr><td>
      
        <label for="principal" style="font-size: 30px; color:orangered  ;"><i><b>Amount:</b></i></label>
        <input type="number" name="principal" required><br><br></td></tr>
        <tr><td><label for="time" style="font-size: 25px; color: orangered;"><i><b>Duration:</b></i></label>
      <input type="number" name="time" required><br><br></td></tr>
      <tr><td> <label for="rate" style="font-size: 25px; color: orangered;"><i><b>Interest Rate (%):</b></i></label>
      <input type="number" name="rate" required><br><br></td></tr>
      <tr><td> <button type="submit" style="color: red; font-size: 25px;"><i><b>TotalInterst</b></i></button></b></td></tr>
    </table> </center></form>
  </body>
</html>